@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  background-color: #202733;
}

.container {
  position: relative;
  text-align: center;
  background: #313a48;
  padding: 60px 30px 40px;
  border-radius: 15px;
  border: none;
  box-shadow: 30px 50px 80px 0px #0000001a;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  width: 100%;
  box-sizing: border-box;
}

.stop {
  margin: 30px;
  width: 100%;
}

#advice {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.3px;
  text-align: center;
  color: #cee3e9;
}

#get-advice {
  position: absolute;
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #53ffaa;
  border: none;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#get-advice:hover {
  box-shadow: 0px 0px 40px 0px #53ffaa;
}

@media (max-width: 375px) {
  .container {
    width: 90%;
    padding: 20px;
  }

  #advice {
    font-size: 20px;
    line-height: 120%;
  }

  .stop {
    width: 100%;
    margin: 20px auto;
  }

  #get-advice {
    width: 56px;
    height: 56px;
  }

  #get-advice img {
    width: 24px;
    height: 24px;
  }
}
